/.vscode/
/.env/
/__pycache__/
.idea
*/*/*/*/*.pyc
*/*/*/*.pyc
*/*/*.pyc
*/*.pyc
*.pyc
*/*/*/*/__pycache__
*/*/*/__pycache__
*/*/__pycache__
*/__pycache__
__pycache__
.env/
.pytest_cache
*__pycache__*
.agent
build
dist
*.db
venv